<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>INVOICE Exteaction</title>
</head>

<body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation" disabled>
                <span class="navbar-toggler-icon"></span> INVOICE DATA EXTRACTION
            </button>
        </div>
    </nav>

    <div class="rectangular-div my-15">

        <h3>UPLOAD ANY PDF HERE</h3>
        <div>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input class="form-control my-3" type="file" id="formFileMultiple" name="pdf_file"
                    style="background-color: #b7f4c9; border-color: #030303;">
                <h5>Enter the required column names here !!!</h5>
                <input type="text" class="form-control my-3" style="border-color: #030303;"
                    placeholder="Input Example: SKU, ITEM TOTAL, DESCRIPTION LINE ITEM COMMENTS" name="columns">
                <button type="submit" class="btn btn-outline-primary my-3">Upload And Extract Lines</button>
            </form>
        </div>
        <div>
            {% if json_output|length >0 %}
            <div class="card">
                <div class="card-header">
                    Json Output
                </div>
                <div class="card-body">
                    <p class="card-text">{{json_output}}</p>
                </div>
            </div>
            {% endif %}
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <style>
        .rectangular-div {
            width: 900px;
            height: 600px;
            background-color: #e3ecf2;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    </style>

</body>

</html>